# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [13]:
test1='This is a test of the emergency text system,' 
with open('test.txt','w+') as file:
    file.write(test1)
    file.seek(0)
    print(file.read())
    file.close()

This is a test of the emergency text system,

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [14]:
with open('test.txt','r') as file1:
    test2=file1.read()
    if test1==test2:
        print('both are same')
    file1.close()

both are same

# 3. Create a CSV file called books.csv by using these lines:
### title,author,year
### The Weirdstone of Brisingamen,Alan Garner,1960
### Perdido Street Station,China Miéville,2000
### Thud!,Terry Pratchett,2005
### The Spellman Files,Lisa Lutz,2007
### Small Gods,Terry Pratchett,1992

In [33]:
string='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [40]:
txt=string.split('\n')
for i,j in enumerate(txt):
    txt[i]=j.split(',')
fields=txt[0]
txt[1::1]

[['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
 ['Perdido Street Station', 'China Miéville', '2000'],
 ['Thud!', 'Terry Pratchett', '2005'],
 ['The Spellman Files', 'Lisa Lutz', '2007'],
 ['Small Gods', 'Terry Pratchett', '1992']]

In [43]:
import csv

with open('books.csv','w',newline="") as file_csv:
    wr_csv=csv.writer(file_csv,dialect='excel')
    wr_csv.writerow(fields)
    for i in txt[1::1]:
        wr_csv.writerow(i)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [17]:
import sqlite3 as sql3

In [18]:
db=sql3.connect('books.db')
cursor=db.cursor()

In [ ]:
query='create table books (Title varchar,Author varchar,Year int)'
record=cursor.execute(query)
record

In [19]:
record=cursor.execute('select name from sqlite_master')
record.fetchall()

[('books',)]

# 5. Read books.csv and insert its data into the book table.

In [20]:
import csv

with open('books.csv','r') as file_csv:
    wr_csv=csv.reader(file_csv,delimiter=',')
    for i in list(wr_csv)[1::]:
        cursor.execute(f"insert into books (Title,Author,Year) Values('{i[0]}','{i[1]}',{int(i[2])});")

In [21]:
record=cursor.execute("select * from books")
record.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

# 6. Select and print the title column from the book table in alphabetical order.

In [42]:
record=cursor.execute("select title from books order by title")
record.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

# 7. From the book table, select and print all columns in the order of publication.

In [23]:
record=cursor.execute("select * from books order by Year")
columns=[i[0] for i in record.description]
print('the coloumns are - ',columns)
data=record.fetchall()
data.insert(0,columns)
data

the coloumns are -  ['Title', 'Author', 'Year']

[['Title', 'Author', 'Year'],
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [24]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db')

In [25]:
engine.table_names()

['books']

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [37]:
!pip install redis

Collecting redis
  Downloading redis-4.1.3-py3-none-any.whl (173 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\ghayas\annaconda\lib\site-packages (from redis) (20.4)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\ghayas\annaconda\lib\site-packages (from deprecated>=1.2.3->redis) (1.11.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\ghayas\annaconda\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Requirement already satisfied: six in c:\users\ghayas\annaconda\lib\site-packages (from packaging>=20.4->redis) (1.15.0)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.3

In [3]:
!pip install hiredis

Collecting hiredis
  Downloading hiredis-2.0.0-cp38-cp38-win_amd64.whl (18 kB)
Installing collected packages: hiredis
Successfully installed hiredis-2.0.0

In [11]:
import redis
r = redis.StrictRedis()

In [16]:
r.hmset('test',{'count':1,'name':'Fester Bestertester'})

<ipython-input-16-e675a014eae0>:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset('test',{'count':1,'name':'Fester Bestertester'})

True

In [17]:
r.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

# 10. Increment the count field of test and print it.

In [18]:
r.hincrby('test','count',1)

2

In [20]:
r.hget('test','count')

b'2'

# END